html{
   overflow: hidden;
}

body {
   margin: 0;
   height: 100vh;
   background: url("../img/background.jpg");
   background-size: cover;
   background-attachment: fixed;
}

.main {
   position: relative;
   top: -20vh;
   color: white;

   display: -webkit-box;

   display: -ms-flexbox;

   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-direction: row;
   flex-direction: row;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;

   -webkit-animation: name 1s linear 0.5s;

   animation: name 1s linear 0.5s;
   -webkit-animation-fill-mode:forwards;
   animation-fill-mode:forwards;
}

@-webkit-keyframes name{
   to{
      -webkit-transform: translate(0,40vh);
      -moz-transform: translate(0,40vh);
      -o-transform: translate(0,40vh);
   }
}

@keyframes name{
   to{
      -webkit-transform: translate(0,40vh);
      -moz-transform: translate(0,40vh);
      -o-transform: translate(0,40vh);
   }
}

.name{
   font-family: 'Ubuntu', sans-serif;
   font-size: 13vh;
}

.develop{
   position: relative;
   left: -43vh;
   font-family: 'Bubbler One', sans-serif;
   font-size: 5vh;

   display: -webkit-box;

   display: -ms-flexbox;

   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;

   -webkit-animation: develop 1.5s linear 0.8s, opacity 2s ease-out;

   animation: develop 1.5s linear 0.8s, opacity 2s ease-out;
   -webkit-animation-fill-mode:forwards;
   animation-fill-mode:forwards;
}

.develop p{
   text-indent: 15px;
   margin: 0px;
}

.develop :nth-child(1){
   position: relative;
   top: 0.5vh;
}
.develop :nth-child(2){
   position: relative;
   top: 0.5vh;
}

@-webkit-keyframes develop{
   from{
      -webkit-transform: translate(0,0);
      -moz-transform: translate(0,0);
      -o-transform: translate(0,0);
   }
   to{
      -webkit-transform: translate(43vh,0);
      -moz-transform: translate(43vh,0);
      -o-transform: translate(43vh,0);
   }
}

@keyframes develop{
   from{
      -webkit-transform: translate(0,0);
      -moz-transform: translate(0,0);
      -o-transform: translate(0,0);
   }
   to{
      -webkit-transform: translate(43vh,0);
      -moz-transform: translate(43vh,0);
      -o-transform: translate(43vh,0);
   }
}

@-webkit-keyframes opacity{
   0%{opacity: 0;}
   80%{opacity: 0;}
   90%{opacity: 0.50;}
   100%{opacity: 1;}
}

@keyframes opacity{
   0%{opacity: 0;}
   80%{opacity: 0;}
   90%{opacity: 0.50;}
   100%{opacity: 1;}
}

.links{
   position: relative;
   top: 20vh;
   left: 140vh;
   height: 20vh;

   display: -webkit-box;

   display: -ms-flexbox;

   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;

   -webkit-animation: links 1.5s linear 0.8s, opacity 2s ease-out;

   animation: links 1.5s linear 0.8s, opacity 2s ease-out;
   -webkit-animation-fill-mode:forwards;
   animation-fill-mode:forwards;
}

@-webkit-keyframes links{
   0%{
      -webkit-transform: translate(0,0);
      -moz-transform: translate(0,0);
      -o-transform: translate(0,0);
   }
   100%{
      -webkit-transform: translate(-140vh,0);
      -moz-transform: translate(-140vh,0);
      -o-transform: translate(-140vh,0);
   }
}

@keyframes links{
   0%{
      -webkit-transform: translate(0,0);
      -moz-transform: translate(0,0);
      -o-transform: translate(0,0);
   }
   100%{
      -webkit-transform: translate(-140vh,0);
      -moz-transform: translate(-140vh,0);
      -o-transform: translate(-140vh,0);
   }
}

.links a{
   margin: 2vh;
   margin-top: 0;
   margin-bottom: 0;
   font-size: 9vh;
   text-decoration: none;
}

.links a:hover {
   cursor: pointer;
   -webkit-animation: vzhuh 0.6s ease;
   animation: vzhuh 0.6s ease;
   -webkit-animation-iteration-count: 1;
   animation-iteration-count: 1;
}

@-webkit-keyframes vzhuh{
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes vzhuh{
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.contacts{
   position: relative;
   top: 67vh;
   height: 20vh;
   font-size: 6vh;
   font-family: 'Athiti', sans-serif;

   display: -webkit-box;

   display: -ms-flexbox;

   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-direction: row;
   flex-direction: row;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;

   -webkit-animation: contacts 1s linear 0.5s;

   animation: contacts 1s linear 0.5s;
   -webkit-animation-fill-mode:forwards;
   animation-fill-mode:forwards;
}

@-webkit-keyframes contacts{
   to{
      -webkit-transform: translate(0,-51vh);
      -moz-transform: translate(0,-51vh);
      -o-transform: translate(0,-51vh);
   }
}

@keyframes contacts{
   to{
      -webkit-transform: translate(0,-51vh);
      -moz-transform: translate(0,-51vh);
      -o-transform: translate(0,-51vh);
   }
}

.contacts a{
   margin: 3vh;
   text-decoration: none;
   color: white;

   display: -webkit-box;

   display: -ms-flexbox;

   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;

   -webkit-transition: all 0.5s ease;

   transition: all 0.5s ease;
}

.contacts a:hover{
   cursor: pointer;
   color: black;
   -webkit-transform: rotate(-3deg);
   transform: rotate(-3deg);
}

.contacts a div{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-direction: row;
   flex-direction: row;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}

.contacts a div p{
   position: relative;
   text-indent: 1vh;
   top: -6.5vh;
}

.socicon-mail{
   position: relative;
   top: 0.5vh;
}

.socicon-linkedin {
   position: relative;
   top: -1vh;
   font-size: 11vh;
   color: #00a0dc;
}

.socicon-linkedin:hover{
   font-size: 15vh;
   -webkit-animation: 3s linkedin linear;
   animation: 3s linkedin linear;
   -webkit-animation-iteration-count: infinite;
   animation-iteration-count: infinite;
}

@-webkit-keyframes linkedin {
   0%{color: #00a0dc;}
   25%{color: #6e5494;}
   50%{color: #00FF33;}
   75%{color: #ffff00;}
   100%{color: #e1306c;}
}

@keyframes linkedin {
   0%{color: #00a0dc;}
   25%{color: #6e5494;}
   50%{color: #00FF33;}
   75%{color: #ffff00;}
   100%{color: #e1306c;}
}

.socicon-github{
   color: #6e5494;
}

.socicon-github:hover{
   font-size: 13vh;
   -webkit-animation: 3s github linear;
   animation: 3s github linear;
   -webkit-animation-iteration-count: infinite;
   animation-iteration-count: infinite;
}

@-webkit-keyframes github {
   0%{color: #6e5494;}
   25%{color: #00FF33;}
   50%{color: #ffff00;}
   75%{color: #e1306c;}
   100%{color: #00a0dc;}
}

@keyframes github {
   0%{color: #6e5494;}
   25%{color: #00FF33;}
   50%{color: #ffff00;}
   75%{color: #e1306c;}
   100%{color: #00a0dc;}
}

.socicon-telegram{
   color: #00FF33;
}

.socicon-telegram:hover{
   font-size: 13vh;
   -webkit-animation: 3s telegram linear;
   animation: 3s telegram linear;
   -webkit-animation-iteration-count: infinite;
   animation-iteration-count: infinite;
}

@-webkit-keyframes telegram {
   0%{color: #00FF33;}
   25%{color: #ffff00;}
   50%{color: #e1306c;}
   75%{color: #00a0dc;}
   100%{color: #6e5494;}
}

@keyframes telegram {
   0%{color: #00FF33;}
   25%{color: #ffff00;}
   50%{color: #e1306c;}
   75%{color: #00a0dc;}
   100%{color: #6e5494;}
}

.socicon-vkontakte{
   position: relative;
   top: 1vh;
   color: #ffff00;
   font-size: 12vh;
}

.socicon-vkontakte:hover{
   font-size: 18vh;
   -webkit-animation: 3s vkontakte linear;
   animation: 3s vkontakte linear;
   -webkit-animation-iteration-count: infinite;
   animation-iteration-count: infinite;
}

@-webkit-keyframes vkontakte {
   0%{color: #ffff00;}
   25%{color: #e1306c;}
   50%{color: #00a0dc;}
   75%{color: #6e5494;}
   100%{color: #00FF33;}
}

@keyframes vkontakte {
   0%{color: #ffff00;}
   25%{color: #e1306c;}
   50%{color: #00a0dc;}
   75%{color: #6e5494;}
   100%{color: #00FF33;}
}

.socicon-instagram{
   position: relative;
   top: 0.3vh;
   color: #e1306c;
}

.socicon-instagram:hover{
   font-size: 13vh;
   -webkit-animation: 3s instagram linear;
   animation: 3s instagram linear;
   -webkit-animation-iteration-count: infinite;
   animation-iteration-count: infinite;
}

@-webkit-keyframes instagram {
   0%{color: #e1306c;}
   25%{color: #00a0dc;}
   50%{color: #6e5494;}
   75%{color: #00FF33;}
   100%{color: #ffff00;}
}

@keyframes instagram {
   0%{color: #e1306c;}
   25%{color: #00a0dc;}
   50%{color: #6e5494;}
   75%{color: #00FF33;}
   100%{color: #ffff00;}
}

@media (max-width: 792px){
   html{
      overflow: auto
   }
   .main,
   .contacts,
   .contacts a{
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
   }
   .contacts{
      height: auto;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -ms-grid-row-align: center;
      align-items: center;
      position: relative;
      top: 43vh;
   }
   .contacts a{
      position: relative;
      top: 7vh;
      height: 22vh;
      margin: -2vh;
   }
   .contacts a:hover{
      -webkit-transform: none;
      transform: none;
      color: white;
      -webkit-animation: vzhuh 0.6s ease;
      animation: vzhuh 0.6s ease;
   }
   .socicon-github,
   .socicon-telegram,
   .socicon-instagram{
      font-size: 8vh;
   }
   .socicon-github:hover,
   .socicon-telegram:hover,
   .socicon-instagram:hover{
      -webkit-animation: none;
      animation: none;
      font-size: 8vh;
   }
   .socicon-linkedin:hover{
      -webkit-animation: none;
      animation: none;
      font-size: 10vh;
   }
    .socicon-linkedin{
      font-size: 10vh;
   }
   .socicon-vkontakte:hover{
      -webkit-animation: none;
      animation: none;
      font-size: 12vh;
   }
   .links a{
      margin: 1vh;
   }
   .name{
      padding-left: 1vh;
   }
   .name,
   .develop{
      position: relative;
      top: -10vh;
   }
   .links{
      position: relative;
      top: 0;
      left: 0;
      -webkit-animation: opacity 2s ease-out;
      animation: opacity 2s ease-out;
   }
   @keyframes name{
      to{
         -webkit-transform: translate(0,30vh);
         -moz-transform: translate(0,30vh);
         -o-transform: translate(0,30vh);
      }
   }
   @-webkit-keyframes name{
      to{
         -webkit-transform: translate(0,30vh);
         -moz-transform: translate(0,30vh);
         -o-transform: translate(0,30vh);
      }
   }
/*
   @-webkit-keyframes links{
      0%{
         -webkit-transform: translate(0,0);
         -moz-transform: translate(0,0);
         -o-transform: translate(0,0);
      }
      100%{
         -webkit-transform: translate(-140vh,0);
         -moz-transform: translate(-140vh,0);
         -o-transform: translate(-140vh,0);
      }
   }
   @keyframes links{
      0%{
         -webkit-transform: translate(0,0);
         -moz-transform: translate(0,0);
         -o-transform: translate(0,0);
      }
      100%{
         -webkit-transform: translate(-140vh,0);
         -moz-transform: translate(-140vh,0);
         -o-transform: translate(-140vh,0);
      }
   }
*/
}
