@font-face {
  src: url( fonts/Athiti.woff2) format("woff2"), url( fonts/Athiti.woff) format("woff");
  font-family: "Athiti";
  font-style: normal;
  font-weight: normal; }

@font-face {
  src: url( fonts/BubblerOne.woff2) format("woff2"), url( fonts/BubblerOne.woff) format("woff");
  font-family: "Bubbler One";
  font-style: normal;
  font-weight: normal; }

@font-face {
  src: url( fonts/Ubuntu.woff2) format("woff2"), url( fonts/Ubuntu.woff) format("woff");
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal; }

@font-face {
  src: url( icons/icons.woff2) format("woff2"), url( icons/icons.woff) format("woff");
  font-family: "icons";
  font-style: normal;
  font-weight: normal; }

[class^='icon-']:before, [class*=' icon-']:before {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* for error page */
.icon-error:before {
  content: '\E802'; }

/* for links */
.icon-linkedin:before {
  content: '\F0E1'; }

.icon-github:before {
  content: '\F113'; }

.icon-telegram:before {
  content: '\E804'; }

.icon-vkontakte:before {
  content: '\F189'; }

.icon-instagram:before {
  content: '\F16D'; }

/* for contacts */
.icon-mail:before {
  content: '\E809'; }

.icon-location:before {
  content: '\E808'; }

.icon-phone:before {
  content: '\E80C'; }

html {
  overflow: hidden; }

* {
  margin: 0;
  padding: 0;
  font-weight: 400; }

body {
  background: url( img/background.jpg) center fixed;
  background-size: cover; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  top: -20vh;
  color: #ffffff;
  -webkit-animation: name 1s linear 0.5s;
          animation: name 1s linear 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes name {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  to {
    -webkit-transform: translate(0, 40vh);
            transform: translate(0, 40vh); } }

@keyframes name {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  to {
    -webkit-transform: translate(0, 40vh);
            transform: translate(0, 40vh); } }

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "Ubuntu", sans-serif;
  font-size: 13vh; }
  .name :nth-child(2) {
    text-indent: 2vh; }

.develop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  left: -43vh;
  top: 1.7vh;
  font-family: "Bubbler One", sans-serif;
  font-size: 5vh;
  -webkit-animation: develop 1.5s linear 0.8s, opacity 2s ease-out;
          animation: develop 1.5s linear 0.8s, opacity 2s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
  .develop span {
    text-indent: 15px; }

@-webkit-keyframes develop {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  to {
    -webkit-transform: translate(43vh, 0);
            transform: translate(43vh, 0); } }

@keyframes develop {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  to {
    -webkit-transform: translate(43vh, 0);
            transform: translate(43vh, 0); } }

@-webkit-keyframes opacity {
  0% {
    opacity: 0; }
  80% {
    opacity: 0; }
  90% {
    opacity: 0.50; }
  100% {
    opacity: 1; } }

@keyframes opacity {
  0% {
    opacity: 0; }
  80% {
    opacity: 0; }
  90% {
    opacity: 0.50; }
  100% {
    opacity: 1; } }

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 18.5vh;
  left: 140vh;
  height: 20vh;
  -webkit-animation: links 1.5s linear 0.8s, opacity 2s ease-out;
          animation: links 1.5s linear 0.8s, opacity 2s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
  .links a {
    margin: 0 .2vh 0 .2vh;
    font-size: 11vh;
    text-decoration: none; }
    .links a .icon-vkontakte:before {
      margin-right: .3em;
      margin-left: .1em; }

@-webkit-keyframes links {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  to {
    -webkit-transform: translate(-140vh, 0);
            transform: translate(-140vh, 0); } }

@keyframes links {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  to {
    -webkit-transform: translate(-140vh, 0);
            transform: translate(-140vh, 0); } }

.icon-linkedin {
  position: relative;
  top: -1vh;
  font-size: 13vh;
  color: #00a0dc; }
  .icon-linkedin:hover {
    font-size: 16vh;
    transition: all .5s ease;
    -webkit-animation: 3s linkedin linear;
            animation: 3s linkedin linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }

@-webkit-keyframes linkedin {
  0% {
    color: #00a0dc; }
  25% {
    color: #6e5494; }
  50% {
    color: #00FF33; }
  75% {
    color: #ffff00; }
  100% {
    color: #e1306c; } }

@keyframes linkedin {
  0% {
    color: #00a0dc; }
  25% {
    color: #6e5494; }
  50% {
    color: #00FF33; }
  75% {
    color: #ffff00; }
  100% {
    color: #e1306c; } }

.icon-github {
  position: relative;
  top: -.2vh;
  color: #6e5494; }
  .icon-github:hover {
    font-size: 14vh;
    transition: all .5s ease;
    -webkit-animation: 3s github linear;
            animation: 3s github linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }

@-webkit-keyframes github {
  0% {
    color: #6e5494; }
  25% {
    color: #00FF33; }
  50% {
    color: #ffff00; }
  75% {
    color: #e1306c; }
  100% {
    color: #00a0dc; } }

@keyframes github {
  0% {
    color: #6e5494; }
  25% {
    color: #00FF33; }
  50% {
    color: #ffff00; }
  75% {
    color: #e1306c; }
  100% {
    color: #00a0dc; } }

.icon-telegram {
  color: #00FF33;
  position: relative;
  top: .1vh; }
  .icon-telegram:hover {
    font-size: 14vh;
    transition: all .5s ease;
    -webkit-animation: 3s telegram linear;
            animation: 3s telegram linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }

@-webkit-keyframes telegram {
  0% {
    color: #00FF33; }
  25% {
    color: #ffff00; }
  50% {
    color: #e1306c; }
  75% {
    color: #00a0dc; }
  100% {
    color: #6e5494; } }

@keyframes telegram {
  0% {
    color: #00FF33; }
  25% {
    color: #ffff00; }
  50% {
    color: #e1306c; }
  75% {
    color: #00a0dc; }
  100% {
    color: #6e5494; } }

.icon-vkontakte {
  position: relative;
  top: -.5vh;
  color: #ffff00;
  font-size: 12vh; }
  .icon-vkontakte:hover {
    font-size: 15.5vh;
    transition: all .5s ease;
    -webkit-animation: 3s vkontakte linear;
            animation: 3s vkontakte linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }

@-webkit-keyframes vkontakte {
  0% {
    color: #ffff00; }
  25% {
    color: #e1306c; }
  50% {
    color: #00a0dc; }
  75% {
    color: #6e5494; }
  100% {
    color: #00FF33; } }

@keyframes vkontakte {
  0% {
    color: #ffff00; }
  25% {
    color: #e1306c; }
  50% {
    color: #00a0dc; }
  75% {
    color: #6e5494; }
  100% {
    color: #00FF33; } }

.icon-instagram {
  position: relative;
  color: #e1306c; }
  .icon-instagram:hover {
    font-size: 14vh;
    transition: all .5s ease;
    -webkit-animation: 3s instagram linear;
            animation: 3s instagram linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }

@-webkit-keyframes instagram {
  0% {
    color: #e1306c; }
  25% {
    color: #00a0dc; }
  50% {
    color: #6e5494; }
  75% {
    color: #00FF33; }
  100% {
    color: #ffff00; } }

@keyframes instagram {
  0% {
    color: #e1306c; }
  25% {
    color: #00a0dc; }
  50% {
    color: #6e5494; }
  75% {
    color: #00FF33; }
  100% {
    color: #ffff00; } }

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  top: 67vh;
  font-size: 6vh;
  font-family: "Athiti", sans-serif;
  -webkit-animation: contacts 1s linear 0.5s;
          animation: contacts 1s linear 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
  .contacts a {
    margin: 0 4vh 0 4vh;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.5s ease; }
    .contacts a:hover {
      cursor: pointer;
      color: #000000;
      -webkit-transform: rotate(-3deg);
              transform: rotate(-3deg); }
    .contacts a div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .contacts a div .icon-mail:before {
        margin-right: .3em; }
      .contacts a div .icon-location:before {
        margin-right: .2em;
        position: relative;
        top: .1vh; }
      .contacts a div .icon-phone:before {
        font-size: 6.1vh;
        position: relative;
        top: .5vh;
        margin-right: 0; }
    .contacts a p, .contacts a span {
      height: 6.5vh; }

@-webkit-keyframes contacts {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  to {
    -webkit-transform: translate(0, -51vh);
            transform: translate(0, -51vh); } }

@keyframes contacts {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  to {
    -webkit-transform: translate(0, -51vh);
            transform: translate(0, -51vh); } }

@media (hover: none), (max-width: 1000px), (orientation: portrait) {
  .contacts a:hover {
    -webkit-transform: none;
            transform: none;
    color: #ffffff;
    -webkit-animation: vzhuh 0.6s ease;
            animation: vzhuh 0.6s ease; }
  .socicon-linkedin:hover,
  .socicon-github:hover,
  .socicon-telegram:hover,
  .socicon-instagram:hover,
  .socicon-vkontakte:hover {
    -webkit-animation: none;
            animation: none;
    font-size: 8vh; }
  .socicon-linkedin:hover {
    font-size: 10vh; }
  .socicon-vkontakte:hover {
    font-size: 12vh; }
  .links {
    left: 0;
    -webkit-animation: opacity 2s ease-out;
            animation: opacity 2s ease-out; } }

@media (max-width: 1440px), (orientation: landscape) and (min-width: 1440px) {
  .contacts {
    font-size: 5vh; } }

@media (max-width: 813px), (orientation: portrait) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .name :nth-child(2) {
    text-indent: 2vh; }
  .contacts a {
    margin: 0 2vh 0 2vh; } }

@media (max-width: 770px) {
  @-webkit-keyframes name {
    from {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); }
    to {
      -webkit-transform: translate(0, 30vh);
              transform: translate(0, 30vh); } }
  @keyframes name {
    from {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); }
    to {
      -webkit-transform: translate(0, 30vh);
              transform: translate(0, 30vh); } }
  .links {
    top: 8vh; }
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: -113vh;
    left: -150vh;
    -webkit-animation: contacts 2.4s ease-out, opacity 2.2s ease-out;
            animation: contacts 2.4s ease-out, opacity 2.2s ease-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }
    .contacts a {
      margin: 1vh; }
  @-webkit-keyframes contacts {
    from {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); }
    to {
      -webkit-transform: translate(150vh, 114vh);
              transform: translate(150vh, 114vh); } }
  @keyframes contacts {
    from {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); }
    to {
      -webkit-transform: translate(150vh, 114vh);
              transform: translate(150vh, 114vh); } } }

@media (max-width: 619px), (orientation: portrait) {
  .main {
    top: -25vh;
    margin-bottom: 3.5vh; }
  .name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 13vh;
    text-align: center;
    line-height: 12vh; }
    .name :nth-child(2) {
      text-indent: 0; }
  .socicon-github,
  .socicon-telegram,
  .socicon-instagram {
    font-size: 8vh; }
  .socicon-linkedin {
    font-size: 10vh; }
  .develop {
    line-height: 4.5vh;
    font-size: 4.5vh;
    margin-top: 1vh; }
  .links {
    top: -5vh; }
    .links a {
      margin: 1vh; }
  @-webkit-keyframes name {
    from {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); }
    to {
      -webkit-transform: translate(0, 26vh);
              transform: translate(0, 26vh); } }
  @keyframes name {
    from {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); }
    to {
      -webkit-transform: translate(0, 26vh);
              transform: translate(0, 26vh); } }
  .contacts {
    top: -112vh;
    left: -150vh;
    -webkit-animation: contacts 2.4s ease-out, opacity 2.2s ease-out;
            animation: contacts 2.4s ease-out, opacity 2.2s ease-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }
  @-webkit-keyframes contacts {
    from {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); }
    to {
      -webkit-transform: translate(150vh, 100vh);
              transform: translate(150vh, 100vh); } }
  @keyframes contacts {
    from {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); }
    to {
      -webkit-transform: translate(150vh, 100vh);
              transform: translate(150vh, 100vh); } } }

@media (orientation: portrait) and (min-height: 770px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }
