.contacts {
   @include flex(center, row);

   position: relative;
   top: 67vh;

   font: {
      size: 6vh;
      family: $primary-font;
   }

   animation: contacts 1s linear 0.5s;
   animation-fill-mode: forwards;
   
   a {
      margin: 0 4vh 0 4vh;

      text-decoration: none;
      color: $primary-color;

      transition: all 0.5s ease;
      
      &:hover {
         cursor: pointer;
         color: $secondary-color;
         transform: rotate(-3deg);
      }
      div {
         @include flex(center,row);

         p {
            text-indent: 0.5vh;
         }
      }

      p, span{
         height: 6.5vh;
      }
   }

   span{
      position: relative;
      top: 0.9vh;
   }
}

@keyframes contacts {
   @include primary-animation(0, 0, 0, -51vh);
}