@include font('icons', '../icons/icons.woff2', '../icons/icons.woff');
 
[class^='icon-']:before, [class*=' icon-']:before {
   font-family: 'icons';
   font-style: normal;
   font-weight: normal;
 
   display: inline-block;
   text-decoration: inherit;
   width: 1em;
   text-align: center;
 
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
 
 /* for error page */
.icon-error:before     { content: '\e802'; }

/* for links */
.icon-linkedin:before  { content: '\f0e1'; } 
.icon-github:before    { content: '\f113'; } 
.icon-telegram:before  { content: '\e804'; }
.icon-vkontakte:before { content: '\f189'; } 
.icon-instagram:before { content: '\f16d'; }

/* for contacts */
.icon-mail:before      { content: '\e809'; } 
.icon-location:before  { content: '\e808'; }
.icon-phone:before     { content: '\e80c'; } 