.links {
   @include flex(center, row, center);

   position: relative;
   top: 18.5vh;
   left: 140vh;
   height: 20vh;

   animation: links 1.5s linear 0.8s, opacity 2s ease-out;
   animation-fill-mode: forwards;

   a {
      margin: 0 .2vh 0 .2vh;
      font-size: 11vh;
      text-decoration: none;

      .icon-vkontakte:before { 
         margin-right: .3em;
         margin-left: .1em;
      }
   }
}

@keyframes links {
   @include primary-animation(0, 0, -140vh, 0);
}

.icon-linkedin {
   position: relative;
   top: -1vh;
   font-size: 13vh;
   color: #00a0dc;
   
   &:hover {
      font-size: 16vh;
      @include link-hover(linkedin);
   }
}

@keyframes linkedin {
   @include link-animation(#00a0dc, #6e5494, #00FF33, #ffff00, #e1306c);
}

.icon-github {
   position: relative;
   top: -.2vh;
   color: #6e5494;
   
   &:hover {
      font-size: 14vh;
      @include link-hover(github);
   }
}

@keyframes github {
   @include link-animation(#6e5494, #00FF33, #ffff00, #e1306c, #00a0dc);
}

.icon-telegram {
   color: #00FF33;
   position: relative;
   top: .1vh;

   &:hover {
      font-size: 14vh;
      @include link-hover(telegram);
   }
}

@keyframes telegram {
   @include link-animation(#00FF33, #ffff00, #e1306c, #00a0dc, #6e5494);
}

.icon-vkontakte {
   position: relative;
   top: -.5vh;
   color: #ffff00;
   font-size: 12vh;
   
   &:hover {
      font-size: 15.5vh;
      @include link-hover(vkontakte);
   }
}

@keyframes vkontakte {
   @include link-animation(#ffff00, #e1306c, #00a0dc, #6e5494, #00FF33);
}

.icon-instagram {
   position: relative;
   color: #e1306c;
   
   &:hover {
      font-size: 14vh;
      @include link-hover(instagram);
   }
}

@keyframes instagram {
   @include link-animation(#e1306c, #00a0dc, #6e5494, #00FF33, #ffff00);
}