@import 'variables';
@import 'mixins';

html {
   overflow: hidden;
}

* {
   margin: 0;
   padding: 0;
   font-weight: 400;
}

body {
   background: $background;
   background-size: cover;
}

@import 'icons';
@import 'fonts';
@import 'name-box';
@import 'links';
@import 'contacts';
@import 'media-queries'; 
@import 'error';