@media (hover: none), (max-width: 1000px), (orientation: portrait) {
   @keyframes vzhuh {
      15% {transform: translateX(9px);}
      30% {transform: translateX(-9px);}
      40% {transform: translateX(6px);}
      50% {transform: translateX(-6px);}
      65% {transform: translateX(3px);}
      100% {transform: translateX(0);}
   }
   .links {
      left:0;
      animation: opacity 2s ease-out;
   }
   .contacts a:hover {
      transform: none;
      color: $primary-color;
      animation: vzhuh 0.6s ease;
   }
   .links a:hover{
      animation: vzhuh 0.6s ease;
   }
   .icon-linkedin:hover,
   .icon-github:hover,
   .icon-telegram:hover,
   .icon-instagram:hover,
   .icon-vkontakte:hover {
      animation: none;
      font-size: 11vh;
   }
   .icon-linkedin:hover {
      font-size: 13vh;
   }
   .icon-vkontakte:hover {
      font-size: 12vh;
   }
}

@media (max-width: 1440px), (orientation: landscape) and (min-width: 1440px) {
   .contacts {
      font-size: 5vh;
   }
}

@media (max-width: 813px), (orientation: portrait) {
   .main {
      @include flex(flex-start, column, center);
   }
}

@media (max-width: 770px) {
   @keyframes name {
      @include primary-animation(0, 0, 0, 30vh);
   }
   .links {
      top: 8vh;

      a{
         font-size: 10vh;
      }
   }
   .contacts {
      @include flex(flex-start, column, center);

      top: -113vh;
      left: -150vh;
      
      animation: contacts 2.4s ease-out, opacity 2.2s ease-out;
      animation-fill-mode: forwards;
      
      a{
         margin: 1vh 0 1vh 0;
      }
   }
   @keyframes contacts {
      @include primary-animation(0, 0, 150vh, 115vh);
   }
}

@media (max-width: 619px), (orientation: portrait) {
   .main {
      top: -25vh;
      margin-bottom: 3.5vh;
   }
   .name {
      @include flex(flex-start, column, center);

      font-size: 13vh;
      text-align: center;
      line-height: 12vh;
      
      & :nth-child(2) {
         text-indent: 0;
      }
   }
   .develop {
      line-height: 4.5vh;
      font-size: 4.5vh;
      margin-top: 1vh;
   }
   .links {
      top: -4vh;
      
      a {
         margin: 0vh;
         font-size: 9vh;
         
         .icon-vkontakte:before { 
            margin-right: .2em;
            margin-left: 0em;
         }
      }
   }
   .icon-vkontakte,
   .icon-vkontakte:hover {
      font-size: 10vh;
   }
   .icon-linkedin,
   .icon-linkedin:hover {
      font-size: 11vh;
   }
   .icon-github:hover,
   .icon-telegram:hover,
   .icon-instagram:hover{
      font-size: 9vh;
   }
   @keyframes name {
      @include primary-animation(0, 0, 0, 26vh);
   }
   .contacts {
      top: -112vh;
      left: -150vh;

      animation: contacts 2.4s ease-out, opacity 2.2s ease-out;
      animation-fill-mode: forwards;
      
      a{
         margin: 1vh 0 1vh 0;
      }
   }
   @keyframes contacts {
      @include primary-animation(0, 0, 150vh, 103vh);
   }
}

@media (orientation: portrait) and (min-height: 770px) {
   .contacts {
      @include flex(flex-start, column, center);
      
      a {
         margin: 1vh 0 1vh 0;
      }
   }
}
