.main {
   @include flex(center);

   position: relative;
   top: -20vh;
   color: $primary-color;

   animation: name 1s linear 0.5s;
   animation-fill-mode: forwards;
}

@keyframes name {
   @include primary-animation(0, 0, 0, 40vh);
}

.name {
   @include flex(center);
   
   font: {
      family: $bold-font;
      size: 13vh;
   }

   & :nth-child(2) {
      text-indent: 2vh;
   }
}

.develop {
   @include flex(center, column);

   position: relative;
   left: -43vh;
   top: 1.7vh;

   font: {
      family: $secondary-font;
      size: 5vh;
   }

   animation: develop 1.5s linear 0.8s, opacity 2s ease-out;
   animation-fill-mode: forwards;

   span {
      text-indent: 15px;
   }
}

@keyframes develop {
   @include primary-animation(0, 0, 43vh, 0);
}

@keyframes opacity {
   0%   {opacity: 0;}
   80%  {opacity: 0;}
   90%  {opacity: 0.50;}
   100% {opacity: 1;}
}