@font-face {
   font-family: 'Athiti';
   src: url("../fonts/Athiti.woff2") format("woff2"), url("fonts/Athiti.woff") format("woff");
   font-style: normal;
   font-weight: 400;
}
@font-face {
   font-family: 'Bubbler One';
   src: url("../fonts/BubblerOne.woff2") format("woff2"), url("fonts/BubblerOne.woff") format("woff");
   font-style: normal;
   font-weight: 400;
}
@font-face {
   font-family: 'Ubuntu';
   src: url("../fonts/Ubuntu.woff2") format("woff2"), url("fonts/Ubuntu.woff") format("woff");
   font-style: normal;
   font-weight: 400;
}
