@font-face {
   font-family: "socicon";
   src: url("fonts/icon.woff2") format("woff2"), url("fonts/icon.woff") format("woff");
   font-weight: normal;
   font-style: normal;
}
[data-socicon]:before {
   font-family: "socicon" !important;
   content: attr(data-socicon);
   font-style: normal !important;
   font-weight: normal !important;
   font-variant: normal !important;
   text-transform: none !important;
   speak: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
[class^="socicon-"]:before,
[class*=" socicon-"]:before {
   font-family: "socicon" !important;
   font-style: normal !important;
   font-weight: normal !important;
   font-variant: normal !important;
   text-transform: none !important;
   speak: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
.socicon-periscope:before {
   content: "\e00f";
}
.socicon-vkontakte:before {
   content: "\e01a";
}
.socicon-mail:before {
   content: "\e01f";
}
.socicon-github:before {
   content: "\e030";
}
.socicon-linkedin:before {
   content: "\e049";
}
.socicon-telegram:before {
   content: "\e06e";
}
.socicon-viber:before {
   content: "\e071";
}
.socicon-instagram:before {
   content: "\e057";
}
