.links {
   @include flex(center, row, center);

   position: relative;
   top: 20vh;
   left: 140vh;
   height: 20vh;

   animation: links 1.5s linear 0.8s, opacity 2s ease-out;
   animation-fill-mode: forwards;

   a {
      margin: 0 2vh 0 2vh;
      font-size: 9vh;
      text-decoration: none;

      &:hover{
         cursor: pointer;
         animation: vzhuh 0.6s ease;
         animation-iteration-count: 1;
      }
   }
}

@keyframes links {
   @include primary-animation(0, 0, -140vh, 0);
}

@keyframes vzhuh {
   15% {transform: translateX(9px);}
   30% {transform: translateX(-9px);}
   40% {transform: translateX(6px);}
   50% {transform: translateX(-6px);}
   65% {transform: translateX(3px);}
   100% {transform: translateX(0);}
}

.socicon-linkedin {
   position: relative;
   top: -1vh;
   font-size: 11vh;
   color: #00a0dc;
   
   &:hover {
      font-size: 15vh;
      @include link-hover(linkedin);
   }
}

@keyframes linkedin {
   @include link-animation(#00a0dc, #6e5494, #00FF33, #ffff00, #e1306c);
}

.socicon-github {
   color: #6e5494;
   
   &:hover {
      font-size: 13vh;
      @include link-hover(github);
   }
}

@keyframes github {
   @include link-animation(#6e5494, #00FF33, #ffff00, #e1306c, #00a0dc);
}

.socicon-telegram {
   color: #00FF33;
   
   &:hover {
      font-size: 13vh;
      @include link-hover(telegram);
   }
}

@keyframes telegram {
   @include link-animation(#00FF33, #ffff00, #e1306c, #00a0dc, #6e5494);
}

.socicon-vkontakte {
   position: relative;
   top: 1vh;
   color: #ffff00;
   font-size: 12vh;
   
   &:hover {
      font-size: 18vh;
      @include link-hover(vkontakte);
   }
}

@keyframes vkontakte {
   @include link-animation(#ffff00, #e1306c, #00a0dc, #6e5494, #00FF33);
}

.socicon-instagram {
   position: relative;
   top: 0.3vh;
   color: #e1306c;
   
   &:hover {
      font-size: 13vh;
      @include link-hover(instagram);
   }
}

@keyframes instagram {
   @include link-animation(#e1306c, #00a0dc, #6e5494, #00FF33, #ffff00);
}