@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'icons';

html {
   overflow: hidden;
}

*{
   margin: 0;
   padding: 0;
   font-weight: 400;
}

body {
   background: $background;
   background-size: cover;
}

@import 'name-box';
@import "links.scss";
@import "contacts.scss";

@import "media-queries.scss"; 
/*
@import 'fonts';
@import 'icons';

@import 'name-box';
@import "links.scss";


@import "contacts.scss";
@import "media-queries.scss"; 
*/


