@media (hover: none), (max-width: 1000px), (orientation: portrait) {
   .contacts a:hover {
      transform: none;
      color: white;
      animation: vzhuh 0.6s ease;
   }
   .socicon-github:hover,
   .socicon-telegram:hover,
   .socicon-instagram:hover {
      animation: none;
      font-size: 8vh;
   }
   .socicon-linkedin:hover {
      animation: none;
      font-size: 10vh;
   }
   .socicon-vkontakte:hover {
      animation: none;
      font-size: 12vh;
   }
   .links {
      left: 0;
      animation: opacity 2s ease-out;
   }
}

@media (max-width: 1440px), (orientation: landscape) and (min-width: 1440px) {
   .contacts {
      font-size: 5vh;
   }
}

@media (max-width: 813px), (orientation: portrait) {
   .main {;
      flex-direction: column;
      align-items: center;
   }
   .name :nth-child(2) {
      text-indent: 2vh;
   }
   .contacts a{
      margin-left: 2vh;
      margin-right: 2vh;
   }
}

@media (max-width: 770px) {
   @keyframes name {
      to {
         -webkit-transform: translate(0, 30vh);
         -moz-transform: translate(0, 30vh);
         -o-transform: translate(0, 30vh);
      }
   }
   .links {
      top: 8vh;
   }
   .contacts {
      flex-direction: column;
      align-items: center;
      top: 66vh;
   }
   .contacts {
      top: -113vh;
      left: -150vh;
      animation: contacts 2.4s ease-out, opacity 2.2s ease-out;
      animation-fill-mode: forwards;
   }
   .contacts a{
      margin: 1vh;
   }


   @keyframes contacts {
      to {
         -webkit-transform: translate(150vh, 114vh);
         -moz-transform: translate(150vh, 114vh);
         -o-transform: translate(150vh, 114vh);
      }
   }
}

@media (max-width: 619px), (orientation: portrait) {
   .main {
      top: -25vh;
      margin-bottom: 3.5vh;
   }
   .name {
      flex-direction: column;
      align-items: center;
      font-size: 13vh;
      text-align: center;
      line-height: 12vh;
   }
   .name :nth-child(2) {
      text-indent: 0;
   }
   .socicon-github,
   .socicon-telegram,
   .socicon-instagram {
      font-size: 8vh;
   }
   .socicon-linkedin {
      font-size: 10vh;
   }
   .develop {
      line-height: 4.5vh;
      font-size: 4.5vh;
      margin-top: 1vh;
   }
   .links {
      top: -5vh;
   }
   .links a {
      margin: 1vh;
   }

   @keyframes name {
      to {
         -webkit-transform: translate(0, 26vh);
         -moz-transform: translate(0, 26vh);
         -o-transform: translate(0, 26vh);
      }
   }
   .contacts {
      top: -112vh;
      left: -150vh;
      animation: contacts 2.4s ease-out, opacity 2.2s ease-out;
      animation-fill-mode: forwards;
   }

   @keyframes contacts {
      to {
         -webkit-transform: translate(150vh, 100vh);
         -moz-transform: translate(150vh, 100vh);
         -o-transform: translate(150vh, 100vh);
      }
   }
}

@media (orientation: portrait) and (min-height: 770px) {
   .contacts {
      flex-direction: column;
      align-items: center;
   }
}
