@mixin flex($direction: row, $justify-content: flex-start, $align-items: flex-start){
   display: flex;
   flex-direction: $direction;
   justify-content: $justify-content;
   align-items: $align-items;
}

@mixin font($name, $woff2, $woff){
   @font-face {
      font-family: $name;
      src: url($woff2) format('woff2'), 
         url($woff) format('woff');
      font-style: normal;
      font-weight: 400;
   }
}

@mixin links-animation($color1, $color2, $color3, $color4, $color5) {
   0%   {color: $color1;}
   25%  {color: $color2;}
   50%  {color: $color3;}
   75%  {color: $color4;}
   100% {color: $color5;}
}