@mixin font($font-name, $woff2, $woff){
   @font-face {
      src: url($woff2) format('woff2'), 
           url($woff) format('woff');
      font: {
         family: $font-name;
         style: normal;
         weight: normal;
      }
   }
}

@mixin flex($justify-content: flex-start, $direction: row, $align-items: flex-start){
   display: flex;
   flex-direction: $direction;
   justify-content: $justify-content;
   align-items: $align-items;
}

@mixin primary-animation($fromX, $fromY, $toX, $toY){
   from {
      transform: translate($fromX, $fromY);
   }
   to {
      transform: translate($toX, $toY);
   }
}

@mixin link-animation($color1, $color2, $color3, $color4, $color5) {
   0%   {color: $color1;}
   25%  {color: $color2;}
   50%  {color: $color3;}
   75%  {color: $color4;}
   100% {color: $color5;}
}

@mixin link-hover($name-link){
   animation: 3s $name-link linear;
   animation-iteration-count: infinite;
}