html {
   overflow: hidden;
}
body {
   margin: 0;
   height: 100vh;
   background: url("../img/background.jpg") center fixed;
   background-size: cover;
}
.main span,h1,h2{
   margin: 0;
   padding: 0;
   font-weight: 400;
}
.main {
   position: relative;
   top: -20vh;
   color: white;

   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-direction: row;
   flex-direction: row;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;

   -webkit-animation: name 1s linear 0.5s;
   animation: name 1s linear 0.5s;
   -webkit-animation-fill-mode: forwards;
   animation-fill-mode: forwards;
}
@-webkit-keyframes name {
   to {
      -webkit-transform: translate(0, 40vh);
      -moz-transform: translate(0, 40vh);
      -o-transform: translate(0, 40vh);
   }
}
@keyframes name {
   to {
      -webkit-transform: translate(0, 40vh);
      -moz-transform: translate(0, 40vh);
      -o-transform: translate(0, 40vh);
   }
}
.name {
   font-family: 'Ubuntu', sans-serif;
   font-size: 13vh;

   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-direction: row;
   flex-direction: row;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}
.name :nth-child(2) {
   text-indent: 2vh;
}
.name p {
   padding: 0;
   margin: 0;
}
.develop {
   position: relative;
   left: -43vh;
   font-family: 'Bubbler One', sans-serif;
   font-size: 5vh;

   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;

   -webkit-animation: develop 1.5s linear 0.8s, opacity 2s ease-out;
   animation: develop 1.5s linear 0.8s, opacity 2s ease-out;
   -webkit-animation-fill-mode: forwards;
   animation-fill-mode: forwards;
}
.develop span {
   text-indent: 15px;
   margin: 0;
}
.develop :nth-child(1) {
   position: relative;
   top: 0.3vh;
}
.develop :nth-child(2) {
   position: relative;
   top: 0.3vh;
}
@-webkit-keyframes develop {
   from {
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -o-transform: translate(0, 0);
   }
   to {
      -webkit-transform: translate(43vh, 0);
      -moz-transform: translate(43vh, 0);
      -o-transform: translate(43vh, 0);
   }
}
@keyframes develop {
   from {
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -o-transform: translate(0, 0);
   }
   to {
      -webkit-transform: translate(43vh, 0);
      -moz-transform: translate(43vh, 0);
      -o-transform: translate(43vh, 0);
   }
}
@-webkit-keyframes opacity {
   0% {opacity: 0;}
   80% {opacity: 0;}
   90% {opacity: 0.50;}
   100% {opacity: 1;}
}
@keyframes opacity {
   0% {opacity: 0;}
   80% {opacity: 0;}
   90% {opacity: 0.50;}
   100% {opacity: 1;}
}
