$primary-font: 'Athiti', sans-serif;
$secondary-font: 'Bubbler One', sans-serif;
$bold-font: 'Ubuntu', sans-serif;

$background: url("../img/background.jpg") center fixed;

$primary-color: #ffffff;
$secondary-color: #000000;

$links-colors: (
   color1: #00a0dc,
   color2: #6e5494,
   color3: #00FF33,
   color4: #ffff00,
   color5: #e1306c   
);